@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #D27D2D;
    opacity: 0.8;
}

.user-icon {
    color: #D27D2D;
}

footer {
    margin-top: auto;
    background-color: #D27D2D;

    /*opacity: 0.8;*/
}

.nav-link.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #D27D2D;
    text-underline-offset: 4px;
    font-weight: 500;
}

/* Ensure container-fluid elements get the same background only inside main */
main .container-fluid {
    background-color: #F5F5DC;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

/* Larger, more padded buttons when using btn-lg */
.btn-custom {
    background-color: #D27D2D !important;
    /* override Bootstrap */
    border-color: #D27D2D !important;
    color: #fff !important;
    border-radius: 5;
    padding: 12px 28px;

}

.btn-custom:hover {
    background-color: #b86723;
    border-color: #b86723;
    color: #fff;
}

.btn-custom:active {
    transform: scale(0.97);
}

.navbar-brand {
    color: black;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 800;
}


.navbar .nav-link {
    color: black !important;
    font-weight: 500;
}



h3 {
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #D27D2D;
    text-decoration-thickness: 1px;
    text-underline-offset: 9px;
}

.card-group .card {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-text:last-child {
    margin-top: auto;
    padding-top: 10px;
}

.menu-section {
    padding: 20px 0;
}

.badge {
    background-color: #D27D2D;
    color: white;
    padding: 8px 15px;
    font-size: 1rem;
    font-weight: bold;
}

#Breakfast {
    margin-top: -50px;
}

#Lunch {
    margin-top: -50px;
}

#Dinner {
    margin-top: -50px;
}

#Drinks {
    margin-top: -50px;
}