<div class="shadow-lg p-4 form-container">
  <div class="text-center mt-0">
    <h2 class="navbar-brand ms-3 my-3">Hapag Tanaw</h2>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input
        type="email"
        id="email"
        class="form-control"
        [class.is-invalid]="hasError('email')"
        [class.is-valid]="f['email'].touched && f['email'].valid"
        formControlName="email">

      @if (hasError('email')) {
        <div class="error-message">
          {{ getErrorMessage('email') }}
        </div>
      }
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <div class="position-relative">
        <input
          [type]="showPassword ? 'text' : 'password'"
          class="form-control"
          id="password"
          [class.is-invalid]="hasError('password')"
          [class.is-valid]="f['password'].touched && f['password'].valid"
          formControlName="password">
        <i class="bi password-toggle-icon"
          [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
          (click)="togglePassword()"
          [ngStyle]="{
            'right': (hasError('password') || (f['password'].touched && f['password'].valid)) ? '40px' : '10px'
          }">
        </i>
      </div>

      @if (hasError('password')) {
        <div class="error-message">
          {{ getErrorMessage('password') }}
        </div>
      }
    </div>

    <div class="text-end mb-3">
      <a href="#" class="text-decoration-none forgot-password-link">Forgot Password?</a>
    </div>

    <button type="submit" class="btn w-50 mb-3 black-outline mx-auto d-block">Login</button>

    <div class="text-center mb-2">Or log in with</div>

    <div class="row g-2">
      <div class="col-6">
        <button
          type="button"
          class="btn w-100 social-btn google-btn"
          (click)="loginWithGoogle()">
          <i class="bi bi-google google-color"></i> Google
        </button>
      </div>
      <div class="col-6">
        <button
          type="button"
          class="btn w-100 social-btn facebook-btn"
          (click)="loginWithFacebook()">
          <i class="bi bi-facebook"></i> Facebook
        </button>
      </div>
    </div>

    <div class="text-center mt-3">
      <span>Don't have an account? </span>
      <a routerLink="/auth/sign-up" class="signup fw-bold">Sign up</a>
    </div>
  </form>
</div>

<app-login-error-modal
  [show]="showErrorModal"
  [message]="errorMessage"
  (close)="closeErrorModal()">
</app-login-error-modal>
