<div class="modal-overlay" (click)="onClose()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-icon">
      <i class="bi bi-exclamation-circle-fill"></i>
    </div>
    
    <h2>Oops! You don't have an account</h2>
    <p>Please create or log in an account first to make a reservation.</p>
    
    <div class="modal-actions">
      @for (button of buttons; track button.label) {
        <button 
          [ngClass]="['btn', button.class]" 
          (click)="button.action()">
          {{ button.label }}
        </button>
      }
    </div>
  </div>
</div>