main .container-fluid {
    background-color: #F5F5DC;
}


h3 {
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #D27D2D;
    text-decoration-thickness: 1px;
    text-underline-offset: 9px;
}

.highlight {
    color: #D27D2D;
}

/* Accordion button - active/open state */
.accordion-button:not(.collapsed) {
    background-color: #D27D2D;
    color: #fff;
    box-shadow: none;
}

/* Accordion button - default state */
.accordion-button {
    background-color: #f8f9fa;
    /* default bg */
    color: #000;
}

/* Remove focus blue outline */
.accordion-button:focus {
    box-shadow: none;
    border-color: #D27D2D;
}

/*Changed the arrow color to white*/
.accordion-button:not(.collapsed)::after {
    filter: brightness(0) invert(1)
}