@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Typography */
p {
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

/* Buttons (reusable) */
.btn-custom {
    background-color: #D27D2D !important;
    border-color: #D27D2D !important;
    color: #fff !important;
    border-radius: 5px;
    padding: 12px 28px;
}

.btn-custom:hover {
    background-color: #b86723;
    border-color: #b86723;
    color: #fff;
}

.btn-custom:active {
    transform: scale(0.97);
}